/*
// -------------------------------------------- //
//                Admin Button                 //
// -------------------------------------------- //
*/
.cartick-wrap {
	.cartick {
		&-content {
			&__btn {
				border-top: 1px solid $cartick-light2;
				padding-top: 30px;
				.cartick-button {
					font-size: 1em;
					font-weight: 400;
					background-color: $cartick-primary;
					color: #ffffff;
					border: none;
					padding: 11px 24px 11px 52px;
					border-radius: 5px;
					cursor: pointer;
					position: relative;
					transition: all .5s ease-in-out;

					&:before {
						content: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M3.48929%206.2367C3.65511%204.81893%204.85635%203.75%206.28379%203.75H17.0265C17.2086%203.75%2017.3845%203.81626%2017.5213%203.93641L20.2818%206.3602C20.9024%206.90511%2021.2452%207.70008%2021.2156%208.52543L20.8716%2018.0988C20.8184%2019.5781%2019.6037%2020.75%2018.1234%2020.75H6.11309C4.78347%2020.75%203.66094%2019.762%203.49209%2018.4432C2.9956%2014.565%202.97421%2010.6407%203.4284%206.75728L3.48929%206.2367ZM6.28379%205.25C5.61737%205.25%205.05655%205.74905%204.97913%206.41096L4.91825%206.93153C4.47823%2010.6937%204.49895%2014.4955%204.97995%2018.2527C5.05295%2018.8229%205.53825%2019.25%206.11309%2019.25H6.75018V15C6.75018%2014.0335%207.53368%2013.25%208.50018%2013.25H15.5002C16.4667%2013.25%2017.2502%2014.0335%2017.2502%2015V19.25H18.1234C18.7963%2019.25%2019.3484%2018.7173%2019.3726%2018.0449L19.7166%208.47157C19.73%208.09641%2019.5742%207.73505%2019.2921%207.48737L16.7502%205.2555V7.59998C16.7502%208.56647%2015.9667%209.34998%2015.0002%209.34998H9.00018C8.03368%209.34998%207.25018%208.56647%207.25018%207.59998V5.25H6.28379ZM8.75018%205.25V7.59998C8.75018%207.73805%208.86211%207.84998%209.00018%207.84998H15.0002C15.1383%207.84998%2015.2502%207.73805%2015.2502%207.59998V5.25H8.75018ZM15.7502%2019.25H8.25018V15C8.25018%2014.8619%208.36211%2014.75%208.50018%2014.75H15.5002C15.6383%2014.75%2015.7502%2014.8619%2015.7502%2015V19.25Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A");
						position: absolute;
						top: calc( 50% - 12px );
						left: 24px;
						width: 24px;
						height: 24px;
					}

					&.saving {
						background-color: $cartick-secondary;
						cursor: progress;
						&:before {
							animation: spin 1s linear infinite;
							content: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M22%2012C22%2017.52%2017.52%2022%2012%2022C6.48%2022%203.11%2016.44%203.11%2016.44M3.11%2016.44H7.63M3.11%2016.44V21.44M2%2012C2%206.48%206.44%202%2012%202C18.67%202%2022%207.56%2022%207.56M22%207.56V2.56M22%207.56H17.56%22%20stroke%3D%22white%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A");                        }
					}
				}
			}
		}
	}
}
