/*
// -------------------------------------------- //
//                 Admin Switch                 //
// -------------------------------------------- //
*/
.cartick-wrap {
	.cartick {
		&-content {
			&__color {
				position: relative;
				input {
					width: 82px;
					min-height: 32px;
					border-radius: 5px;
					padding: 0;
					border: none;
					box-shadow: none;

					&:hover,
					&:focus,
					&:focus-visible {
						outline: none;
						border: none;
						box-shadow: none;
					}
				}

				&-swatch {
					position: relative;
					width: 32px;
					height: 32px;
					border-radius: 3px;
					cursor: pointer;
					background-color: $cartick-light2;
					border: 1px solid $cartick-light2;


					&:before {
						content: url("data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2221%22%20viewBox%3D%220%200%2021%2021%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M6.99951%2019.9062C3.74451%2019.9062%201.09326%2017.255%201.09326%2014C1.09326%2011.34%202.87826%208.99497%205.44201%208.30372C5.76576%208.21622%206.09826%208.38247%206.22076%208.69747C6.75451%2010.0362%207.89201%2011.06%209.28326%2011.4362C10.0533%2011.6462%2010.9458%2011.6462%2011.6983%2011.4362C12.022%2011.3487%2012.3633%2011.515%2012.4858%2011.83C12.757%2012.5212%2012.897%2013.2562%2012.897%2014.0087C12.897%2015.6887%2012.1795%2017.29%2010.9283%2018.4012C9.86076%2019.3637%208.46076%2019.9062%206.99951%2019.9062ZM5.26701%209.73872C3.56076%2010.4387%202.40576%2012.1187%202.40576%2014C2.40576%2016.5287%204.47076%2018.5937%206.99951%2018.5937C8.13701%2018.5937%209.22201%2018.1737%2010.062%2017.4125C11.042%2016.5462%2011.5933%2015.3037%2011.5933%2014C11.5933%2013.5975%2011.5408%2013.2125%2011.4445%2012.8362C10.622%2012.9675%209.72951%2012.9237%208.94201%2012.705C7.35826%2012.2675%206.02826%2011.1825%205.26701%209.73872Z%22%20fill%3D%22%233C434A%22%2F%3E%0A%3Cpath%20d%3D%22M10.5%2012.9065C9.9575%2012.9065%209.4325%2012.8365%208.9425%2012.6965C7.16625%2012.2065%205.6875%2010.894%205.005%209.17024C4.73375%208.48774%204.59375%207.75274%204.59375%207.00024C4.59375%203.74524%207.245%201.09399%2010.5%201.09399C13.755%201.09399%2016.4062%203.74524%2016.4062%207.00024C16.4062%207.75274%2016.2663%208.48774%2015.995%209.17899C15.3125%2010.894%2013.8425%2012.2152%2012.0575%2012.7052C11.5675%2012.8365%2011.0425%2012.9065%2010.5%2012.9065ZM10.5%202.40649C7.97125%202.40649%205.90625%204.47149%205.90625%207.00024C5.90625%207.58649%206.01125%208.15524%206.23%208.68899C6.76375%2010.0277%207.90125%2011.0515%209.2925%2011.4277C10.0625%2011.6377%2010.955%2011.6377%2011.7075%2011.4277C13.0988%2011.0515%2014.245%2010.019%2014.77%208.68899C14.98%208.15524%2015.0938%207.58649%2015.0938%207.00024C15.0938%204.47149%2013.0288%202.40649%2010.5%202.40649Z%22%20fill%3D%22%233C434A%22%2F%3E%0A%3Cpath%20d%3D%22M14%2019.906C12.5387%2019.906%2011.1387%2019.3635%2010.0625%2018.3923C9.9225%2018.2698%209.84375%2018.086%209.84375%2017.9023C9.84375%2017.7185%209.9225%2017.5348%2010.0625%2017.4123C11.0337%2016.5548%2011.5937%2015.3123%2011.5937%2013.9998C11.5937%2013.4135%2011.4887%2012.8448%2011.27%2012.311C11.2%2012.136%2011.2087%2011.9435%2011.2962%2011.7773C11.3837%2011.611%2011.5325%2011.4885%2011.7075%2011.436C13.0987%2011.0598%2014.2362%2010.036%2014.77%208.69727C14.8925%208.38227%2015.2337%208.22477%2015.5487%208.30352C18.1125%209.00352%2019.8975%2011.3398%2019.8975%2013.9998C19.9062%2017.2548%2017.255%2019.906%2014%2019.906ZM11.48%2017.841C12.2237%2018.331%2013.09%2018.5935%2014%2018.5935C16.5287%2018.5935%2018.5937%2016.5285%2018.5937%2013.9998C18.5937%2012.1185%2017.4387%2010.4385%2015.7325%209.73852C15.085%2010.9723%2014%2011.9523%2012.705%2012.4773C12.8363%2012.9673%2012.9062%2013.4835%2012.9062%2013.9998C12.9062%2015.4173%2012.3987%2016.7823%2011.48%2017.841Z%22%20fill%3D%22%233C434A%22%2F%3E%0A%3C%2Fsvg%3E%0A");
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						width: 20px;
						height: 20px;
					}
				}

				&-inner {
					position: relative;
					flex: 0 0 142px;
					width: 142px;
					display: flex;
					align-items: center;
					padding: 4px 4px 4px 20px;
					border-radius: 5px;
					background-color: $cartick-light;
					border: 1px solid $cartick-light2;

					&:focus,
					&:hover {
						border: 1px solid rgba($cartick-primary, 0.2 );
						box-shadow: none;
					}
				}

				&-popover {
					position: absolute;
					top: calc(100% + 2px);
					left: 0;
					border-radius: 9px;
					box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
					z-index: 2;
				}
			}
		}
	}
}
