/*
// -------------------------------------------- //
//                 Admin Select                 //
// -------------------------------------------- //
*/
.cartick-wrap {
	.cartick {
		&-content {
			&__select {
				select {
					max-width: unset;
					background-color: $cartick-light;
					border: 1px solid $cartick-light2;
					border-radius: 3px;
					padding: 7px 20px;

					-moz-appearance: none;
					-webkit-appearance: none;
					appearance: none;
					background-image: url("data:image/svg+xml,%3Csvg%20width%3D%228%22%20height%3D%224%22%20viewBox%3D%220%200%208%204%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M0%200L4%204L8%200%22%20fill%3D%22%23DCE0E6%22%2F%3E%0A%3C%2Fsvg%3E%0A");
					background-repeat: no-repeat, repeat;
					background-position: right 20px top 50%, 0 0;
					background-size: .65em auto, 100%;

					/* For IE (thanks to @SaiManoj) */
					&::-ms-expand {
						display: none;
					}

					&:focus,
					&:hover {
						border: 1px solid rgba($cartick-primary, 0.2 );
						box-shadow: none;
					}
				}
			}
		}
	}
}
