/*
// -------------------------------------------- //
//                Admin Settings                //
// -------------------------------------------- //
*/

//
// Cartick Fonts
//
$poppins: 'Poppins', sans-serif;
$nunito: 'Nunito', sans-serif;

//
// Cartick font sizes & line-heights
//
$base-font-size: 16px;
$cartick-heading-line-height: 1.5;
$heading-line-height: 1.2;

//
// Cartick Colors
//
$white: #FFFFFF;
$cartick-heading: #1A171B;
$cartick-text: #8E9BAF;
$cartick-light: #FBFCFD;
$cartick-light2: #F0F0FE;
$cartick-primary: #6B66F7;
$cartick-secondary: #B366F6;

$cartick-border: #F1F1F1;

$cartick-info: #C89D27;
$cartick-info-light: #FFF5EB;

$cartick-success: #008067;
$cartick-success-light: #E8FCF3;

$cartick-error: #C64123;
$cartick-error-light: #FFF2F2;

//
// Cartick padding & margin
//
$cartick-gap-10: 0.625em;
$cartick-gap-15: 0.9375em;
$cartick-gap-20: 1.25em;
$cartick-gap-25: 1.5625em;
$cartick-gap-30: 1.875em;
$cartick-gap-35: 2.1875em;